<section class="courses-page">
    <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
    <div class="courses-page__container container">
        <div class="courses-page__actions">
            <app-course-search (search)="searchCourse($event)"></app-course-search>
            <button
                (click)="addCourse()"
                class="button button__add button--large button--blue"
            >Add course</button>
        </div>

        <ng-container *ngIf="list.length">
            <div>
                <ng-container *ngFor="let course of list">
                    <app-course-item
                        [course]="course"
                        (deleteCourse)="deleteCourse($event)"
                    ></app-course-item>
                </ng-container>
            </div>

            <button class="button courses-page__load-button" (click)="load()">Load More</button>
        </ng-container>

        <div *ngIf="!list.length" class="courses-page__empty">No data. Feel free to add new courses</div>
    </div>
</section>
