<div
    class="course-item"
    [appHighlight]="course"
    [ngClass]="{'top': course.topRated}"
>
    <div class="course-item__info">
        <div class="course-item__row">
            <div class="flex-container">
                <h2>{{course.title | uppercase}}</h2>
                <span *ngIf="course.topRated">star</span>
            </div>

            <div class="course-item__details">
                <span class="course-item__duration">{{course.duration | duration}}</span>
                <span class="course-item__date">{{course.creationDate | date: 'dd.MMM.yyyy'}}</span>
            </div>
        </div>
        <p class="course-item__description">{{course.description}}</p>
    </div>
    <div class="course-item__actions">
        <button class="button button--medium button--blue button__edit">Edit</button>
        <button class="button button--medium button--blue button__delete" (click)="deleteItem()">Delete</button>
    </div>
</div>
