.breadcrumbs {
    font-weight: 600;
    height 64px;
    background-color: var(--white);

    &__container {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__link {
        text-decoration: none;
    }
}