.footer {
    width: 100%;
    height: 64px;
    background-color: var(--mako);

    &__container {
        display: flex;
        justify-content: flex-end;
        height: 100%;
    }

    &__copyright {
        align-self: center;
        color: var(--silver);
    }
}