<div class="form__field form__field--short">
    <label class="required" for="duration">Duration:</label>
    <span
        *ngIf="isInvalid"
        class="form__field__invalid-message"
    >
       <span>This field is required</span>
    </span>
    <input
        [(ngModel)]="model"
        [ngClass]="{'form__field--invalid': isInvalid }"
        (input)="onInput(model)"
        (blur)="onFormControlTouched()"
        id="duration"
        type="number"
        placeholder="minutes"
        name="length"
    >
    <span *ngIf="model" class="duration-field__aside-widget">{{ model | duration}}</span>
</div>
