<section class="login-page">
    <div class="login-page__window">
        <h2 class="login-page__title">Login</h2>

        <form class="login-page__form">
            <div class="login-page__field">
                <label for="e-mail" class="login-page__label">E-mail:</label>
                <input
                    [(ngModel)]="user.login"
                    class="login-page__input"
                    type="e-mail"
                    id="e-mail"
                    placeholder="Enter e-mail"
                    name="login"
                >
            </div>
            <div class="login-page__field">
                <label for="password" class="login-page__label">Password:</label>
                <input
                    [(ngModel)]="user.password"
                    class="login-page__input"
                    type="password"
                    id="password"
                    placeholder="Enter password"
                    name="password"
                >
            </div>
            <div class="flex-container flex-between">
                <a class="login-page__pass-res-link" href="#">Forgot password?</a>
                <button
                    (click)="login()"
                    class="button login-page__submit-button">Login</button>
            </div>

        </form>
    </div>
</section>
