<div class="form__field form__field--short">
    <label class="required" for="date">Date:</label>
    <span
        *ngIf="isInvalid"
        class="form__field__invalid-message"
    >
        <span *ngIf="errors.required">This field is required</span>
        <span *ngIf="errors.pattern">Wrong date format</span>
    </span>
    <input
        [(ngModel)]="model"
        [ngClass]="{'form__field--invalid': isInvalid }"
        (input)="onInput(model)"
        (blur)="onFormControlTouched()"
        id="date"
        type="text"
        placeholder="yyyy-mm-dd"
        title="date"
        name="date"
    >
</div>
