<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<div class="course-creator">
    <h2 class="course-creator__title">{{title}}</h2>
    <form [formGroup]="courseForm" (ngSubmit)="save()" class="form" *ngIf="courseForm">
        <div class="form__field">
            <label class="required" for="name">Title:</label>
            <span
                *ngIf="courseForm.controls.name.invalid && courseForm.controls.name.touched"
                class="form__field__invalid-message"
            >
                <span *ngIf="courseForm.controls.name.errors.required">This field is required</span>
                <span *ngIf="courseForm.controls.name.errors.maxlength">Max length exceeded. Only 50 symbols are allowed</span>
            </span>
            <input
                [ngClass]="{'form__field--invalid': courseForm.controls.name.invalid && courseForm.controls.name.touched }"
                formControlName="name"
                class="input"
                id="name"
                type="text"
                placeholder="Add name"
                name="name"
            >
        </div>

        <div class="form__field">
            <label class="required" for="description">Description:</label>
            <span
                *ngIf="courseForm.controls.description.invalid && courseForm.controls.description.touched"
                class="form__field__invalid-message"
            >
                <span *ngIf="courseForm.controls.description.errors.required">This field is required</span>
                <span *ngIf="courseForm.controls.description.errors.maxlength">Max length exceeded. Only 500 symbols are allowed</span>
            </span>
            <textarea
                [ngClass]="{'form__field--invalid': courseForm.controls.description.invalid && courseForm.controls.description.touched }"
                formControlName="description"
                rows="6"
                id="description"
                placeholder="Add description"
                title="description"
                name="description"
            ></textarea>
        </div>

        <app-duration-field
            formControlName="length"
            [isInvalid]="courseForm.controls.length.invalid && courseForm.controls.length.touched"
        ></app-duration-field>

        <app-date-field
            formControlName="date"
            [isInvalid]="courseForm.controls.date.invalid && courseForm.controls.date.touched"
            [errors]="courseForm.controls.date.errors"
        ></app-date-field>

        <app-authors-field
            formControlName="authors"
            [isInvalid]="courseForm.controls.authors.invalid && courseForm.controls.authors.touched"
        ></app-authors-field>

        <div class="course-creator__buttons">
            <button
                (click)="cancel()"
                class="button button--medium"
                type="button"
            >Cancel</button>
            <button
                class="button button--medium button--green"
                type="submit"
            >Save</button>
        </div>
    </form>
</div>
