<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<div class="course-creator">
    <h2 class="course-creator__title">{{title}}</h2>
    <form [formGroup]="form" (ngSubmit)="save()" class="form">
        <div class="form__field">
            <label class="required" for="title">Title:</label>
            <span
                *ngIf="form.controls.title.invalid && form.controls.title.touched"
                class="form__field__invalid-message"
            >
                <span *ngIf="form.controls.title.errors.required">This field is required</span>
                <span *ngIf="form.controls.title.errors.maxlength">Max length exceeded. Only 50 symbols are allowed</span>
            </span>
            <input
                [ngClass]="{'form__field--invalid': form.controls.title.invalid && form.controls.title.touched }"
                formControlName="title"
                class="input"
                id="title"
                type="text"
                placeholder="Add title"
                name="title"
            >
        </div>

        <div class="form__field">
            <label class="required" for="description">Description:</label>
            <span
                *ngIf="form.controls.description.invalid && form.controls.description.touched"
                class="form__field__invalid-message"
            >
                <span *ngIf="form.controls.description.errors.required">This field is required</span>
                <span *ngIf="form.controls.description.errors.maxlength">Max length exceeded. Only 500 symbols are allowed</span>
            </span>
            <textarea
                [ngClass]="{'form__field--invalid': form.controls.description.invalid && form.controls.description.touched }"
                formControlName="description"
                rows="6"
                id="description"
                placeholder="Add description"
                title="description"
                name="description"
            ></textarea>
        </div>

        <app-duration-field
            formControlName="length"
            [control]="form.controls.length"
        ></app-duration-field>

        <app-date-field
            formControlName="date"
            [control]="form.controls.date"
        ></app-date-field>

        <app-authors-field
            formControlName="authors"
            [control]="form.controls.authors"
        ></app-authors-field>

        <div class="course-creator__buttons">
            <button
                (click)="cancel()"
                class="button button--medium"
                type="button"
            >Cancel</button>
            <button
                class="button button--medium button--green"
                type="submit"
            >Save</button>
        </div>
    </form>
</div>
