* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--pale-grey);
}

.container {
    max-width: 1110px;
    margin: auto;
}

.flex-container {
    display: flex;
    justify-content: space-between
}
