.page-not-found {
    padding-top: 15%;

    &__content {
        margin: auto;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__figures {
        font-size: 125px;
    }

    &__text {
        font-size: 30px;
    }
}