:root {
    /********* colors *********/
    --white: #ffffff;
    --mako: #414452;
    --pale-gray: #f2f3f7;
    --silver: #c0c3ce;
    --light-gray: #d9dbe3;
    --sick-green: #9bc837;
    --dark-sky-blue: #30b6dd;
    --slate-gray: #525462;
    --soft-blue: #577ce6;
    --steel: #868996;
    --cloudy-blue: #b9bdce;
    --dark: #2c2f3c;
    --cool-gray: #a8a9b4;
}
